.error{
	-fx-background-color: red,linear-gradient(to bottom, derive(-fx-background,100%) 5%,derive(-fx-background,90%) 40%);
}


#MyTabPane .tab {
     -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
     -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 2 20 2 20;
    
}
#MyTabPane .tab:selected {
    -fx-background-color: 
       
        linear-gradient(#bdbfc1 0%, #9a9c9f 14%, #888b90 15%, #838686 100%),
        linear-gradient(#fbdbb5 0%, #fec778 14%, #ffa636 15%, #fdeb9f 78%, 
        #dfcd82 79%, #f0e7bf 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
}
#MyTabPane .tab:hover {
     -fx-background-color: 
        linear-gradient(#bdbfc1 0%, #9a9c9f 14%, #888b90 15%, #838686 100%),
        linear-gradient(#fef7d5 0%, #fae5a8 14%, #ffd048 15%, #ffe59f 78%, 
        #ffe498 79%, #fff9cc 100%), 
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
}


#buttonall{
	 -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    /*-fx-background-radius: 30;*/
    -fx-background-insets: 0,1,1;
   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
        
      -fx-border-color: transparent;
}
#buttonall:hover{
	 -fx-background-color: 
        #c3c4c4,
        linear-gradient(#CDC8B1 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    /*-fx-background-radius: 30;*/
    -fx-background-insets: 0,1,1;
   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
     -fx-border-color: transparent;
    
}

.menu-item .label {
    -fx-text-fill: black;
}

.menu-item:focused {
     -fx-background-color: black;
}

.menu-item:focused .label {
    -fx-text-fill: orange;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: darkgray;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}


 #drinkName {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 0 0 0 5, 0 0 0 4, 0 0 0 3;  
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

 #drinkName:hover {
    -fx-background-color: 
      
        linear-gradient(#bdbfc1 0%, #9a9c9f 14%, #888b90 15%, #838686 100%),
        linear-gradient(#fef7d5 0%, #fae5a8 14%, #ffd048 15%, #ffe59f 78%, 
        #ffe498 79%, #fff9cc 100%), 
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 0 0 0 5, 0 0 0 4, 0 0 0 3; 
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}
#borderxx {
  /*  -fx-background-image: url("../../../../img/bgwine.jpg");*/
    -fx-background-color: #292421;
    -fx-background-repeat: stretch; 
 	-fx-background-position: right;
    }
#mainpane1 {
    -fx-background-color: red;
   
}

 #drinkName:selected {
     -fx-background-color: 
       
        linear-gradient(#bdbfc1 0%, #9a9c9f 14%, #888b90 15%, #838686 100%),
        linear-gradient(#fbdbb5 0%, #fec778 14%, #ffa636 15%, #fdeb9f 78%, 
        #dfcd82 79%, #f0e7bf 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
     -fx-background-radius: 0 0 0 5, 0 0 0 4, 0 0 0 3; 
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}




#MyTabPane .tab *.tab-label {
    -fx-text-fill: black;
}
.tab-header-background {
   -fx-background-image: url("bgh3.png");
   
} 
.lowerHBox {
-fx-background-image: url("../../../../img/bgh3.png");
       
   
} 


.table-view .column-header{
	  -fx-background-color: 
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    /*-fx-background-radius: 30;*/
    -fx-background-insets: 0,1,1;
   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
      
     
     
      -fx-border-color: transparent;
 
}
 
 .celllow{
    -fx-background-color: #EE9572;
    -fx-font-weight: bold;
}
.table-view {
-fx-table-cell-border-color:derive(-fx-base,+10%);
-fx-table-header-border-color:derive(-fx-base,+60%);



} 

.table-view .column-header .label {
  /*  -fx-font-size: 20pt;*/
    
    -fx-text-fill:  #654b00;
    -fx-opacity: 1;
    -fx-font-weight: bold;
}



.table-row-cell {
   -fx-font-family: "Book Antiqua";
  -fx-font-size: 15pt;
  
  
}


.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #B0171F;
    -fx-font-weight: bold;
}
.table-row-cell:filled:hover:hover {
    -fx-background-color:  	#AAAAAA;
    -fx-font-weight: bold;
   
    
}
 


.table-row-cell:selected {
    -fx-background-color: lightgreen;
    -fx-text-fill: green;
}
.table-row-cell:even {
    -fx-background-color: #EEDC82;
  
    
}
.table-row-cell:odd {
    -fx-background-color: khaki;
    
}
.table-row-cell:empty {
    -fx-background-color: transparent;
}


.table-row-cell .table-cell {
    -fx-border-width: 1px;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}


.split-pane:horizontal > * > .split-pane-divider {
-fx-border-color: transparent -fx-base transparent -fx-base;
-fx-background-color: transparent, derive(-fx-base,20%);
-fx-background-insets: 0, 0 1 0 1;
}

.text-field:focused {
   -fx-background-color: #FF8C00, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
}

.button:focused {
    -fx-color: -fx-focused-base;
    -fx-background-color: #FF8C00, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  6.4, 5, 4, 3;
}
    
.combo-box:focused {
   
    -fx-background-color: #FF8C00, -fx-outer-border, -fx-inner-border, -fx-body-color;
 
}  
.Label:focused {
   
    -fx-background-color: #FF8C00, -fx-outer-border, -fx-inner-border, -fx-body-color;
 
}  


.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
 
.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

